body {
	margin: 0;
	font-family: arial;
	background: #eee;
}

h1 {
	text-align: center;
	background: green;
	color: #fff;
	padding: 10px 0;
	margin: 0;
	font-weight: 300;
}

form {
	box-shadow: 0 0 5px #333;
	border-radius: 5px;
	padding: 20px;
	margin: 10px;
	overflow: hidden;
}

.q {
	background: ;
	margin: 0;
	font-size: 1.1rem;
	padding: 10px 0;
	border-bottom: 1px solid;
}

.opts {
	padding: 20px 10px;
	background: ;
}

label {
	list-style: none;
	background: ;
	border-radius: 5px;
	border: 1px solid #333;
	padding: 10px 20px;
	margin: 3px 0;
	display: block;
	white-space: nowrap;
	position: relative;
	isolation: isolate;
	height: 1rem;
	overflow: hidden;
}

label:hover {
	background: #fff;
}

button {
	width: 80px;
	background: #333;
	position: relative;
	left: calc(50% - 40px);
	padding: 8px 0;
	border-radius: 5px;
	border: none;
	box-shadow: 0 5px 0 #000;
	color: #fff;
}

button:active {
	transform: translateY(4px);
	box-shadow: 0 1px 0 #000;
}

input[type=radio] {
	appearance: none;
	position: fixed;
}

.uid {
	display: block;
	width: 80%;
	padding: 8px 10px;
	box-sizing: border-box;
	border-radius: 0 5px 5px 0;
	border: 0;
	border-left: 2px solid;
	background: #ddd;
	position: relative;
	left: calc(50% - 40%);
	outline: none;
	margin: 0 0 10px 0;
	font-size: 1rem;
}

label>div {
	position: absolute;
	height: 100%;
	width: 0%;
	left: 0;
	top: 0;
	background: #46C5E9;
	transition: 0.4s;
	z-index: -1;
}

label>.opt {
	position: absolute;
	background: ;
	display: flex;
	height: 100%;
	width: 80%;
	overflow: scroll;
	top: 0;
	left: 0;
	align-items: center;
	padding-left: 20px;
}

.pc {
	background: ;
	position: absolute;
	right: 10px;
}

.vote_cc {
	background: ;
	font-size: 0.9rem;
	text-align: right;
	margin: 10px;
	transform: translateX(900px);
	transition: 0.3s;
}

.note,
.error {
	background: #ff7;
	text-align: center;
	border-radius: 5px;
	padding: 10px 20px;
}

.error {
	background: red;
	color: white;
}

@media screen and (min-width : 760px) {

	form {
		--w: 30%;
		width: var(--w);
		position: fixed;
		left: calc(50% - var(--w) / 2);
	}

	::-webkit-scrollbar {
		display: none;
	}
}